
---
const { backgroundImgSrc } = Astro.props;

---

<div class="casbackgroundstop relative flex justify-center items-center">
    <!--The background image-->
    
    <img src={backgroundImgSrc.src} class="-z-50 block min-h-screen w-[100%] h-auto object-cover"  alt="background"/>
    
    <!--Other content, probably mostly want to absolute position-->
    <slot/>
    
</div>